.dez-bnr-inr{
  background-image: url(./image/slide2.jpg);
  padding-bottom: 3em;
}
.dez-bnr-inr .container {
  display: table;
  height: 100%;
}
.container {
  max-width: 540px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dez-bnr-inr-entry {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.find-job-bx h2 {
  font-size: 24px;
  line-height: 33px;
}
.find-job-bx h2 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 25px;
}
.find-job-bx form {
  padding: 30px 30px 30px 30px;
}
.find-job-bx form {
  padding: 30px 30px 5px 30px;
  background-color: rgba(255,255,255,0.95);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
.site-button.btn-block{
  border-radius: 10px;
  color: azure;
  background-color: #424242;
}